<div id="<%= dom_id(photo) %>" class="photo-card">
  <img src="<%= photo.image_url %>" alt="<%= photo.alt %>" class="photo-card__image">

  <div class="photo-card__footer">
    <span class="photo-card__photographer"><%= photo.photographer %></span>

    <div class="photo-card__actions">
      <a href="<%= photo.source_url %>" target="_blank" rel="noopener noreferrer" class="photo-card__link" aria-label="View source">
        <%= image_tag "links.svg", alt: "" %>
      </a>

      <%= render "like_button", photo: photo %>
    </div>
  </div>
</div>
