<!DOCTYPE html>
<html>
  <head>
    <title>Photo Gallery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <nav class="nav">
        <div class="nav__brand">
          <%= image_tag "logo.svg", alt: "Clever", class: "nav__logo" %>
        </div>
        <div class="nav__user">
          <span><%= current_user.name %></span>
          <%= button_to "Sign Out", session_path, method: :delete, class: "nav__signout" %>
        </div>
      </nav>
    <% end %>

    <% if flash[:alert] %>
      <p class="flash flash--alert"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="flash flash--notice"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
